<div>
  <div class="alertxx">
    <span
      class="closebtn"
      onclick="this.parentElement.style.display='none';"
      style="color: #fff"
      >×</span
    >
    <b>
      <font size="3px"
        >▶ Watch Anime Online Using
        <a style="color: #ff4949" href="https://animedisk.me"
          >AnimeDisk</a
        ></font
      >
    </b>
  </div>

  <div class="alertxxx">
    <span class="closebtn" onclick="this.parentElement.style.display='none';"
      >×</span
    >
    <b>
      <font size="3px"
        >Always use
        <a
          href="https://deadtoons.one"
          data-wpel-link="internal"
          style="color: #001fff"
          >Deadtoons.one</a
        >
        With VPN to get Official Domain
      </font>
    </b>
  </div>

  <style>
    span.closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }

    .alertxxx {
      padding: 5px;
      margin-bottom: 20px;
      margin-top: 5px;
      margin-left: auto;
      max-width: 900px;
      margin-right: auto;
      color: #282828;
      background-color: #48ff00ff;
      width: 90%;
      text-align: center;
      border-radius: 6px;
    }

    .alertxx {
      padding: 5px;
      margin-bottom: 20px;
      margin-top: 5px;
      margin-left: auto;
      max-width: 900px;
      margin-right: auto;
      color: #fff;
      background-color: #3b3b3bff;
      width: 90%;
      text-align: center;
      border-radius: 6px;
    }
  </style>
</div>
